$backgroundColorWhite: #ffffff;
$backgroundColorBeigeChiaro: #fdfdfb;
$backgroundColorBeige: #f7f5ef;
$backgroundColorGray: #444240;

$textColorGrey: #1b1a17;
$textColorGreyChiaro: #555248;
$textColorGreyChiaroDarker: #444240;
